.modal__content {
    background-color: #FFFFFF;
    width: 400px;
    height: 200px;
    border-radius: 4px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.modal__content-title {
    color: #f04c3c;
    font-family: Roboto-Bold;
    font-size: 24px;
    margin: 0;
}

button {
    margin: 8px;
    width: 146px;
}